<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex00: Markdown Cheatsheet.</title>
    
    <style>
        .markdown {
            color: blue;
        }

        .accent {
            color: red;
        }
    </style>
</head>
<body>
    <h1 class="markdown">- <strong>Headings</strong></h1>
    <h1 class="accent">Heading level 1</h1>
    <h2 class="accent">Heading level 2</h2>
    <h3 class="accent">Heading level 3</h3>
    <h4 class="accent">Heading level 4</h4>
    <h5 class="accent">Heading level 5</h5>
    <h6 class="accent">Heading level 6</h6>

    <h1 class="markdown">- <strong>Paragraphs</strong></h1>
    <p>I really like using Markdown.</p>

    <p>I think I'll use it to format all of my documents from now on.</p>

    <h1 class="markdown">- <strong>Line Breaks</strong></h1>
    <p>This is the first line.<br>And this is the second line.</p>

    <h1 class="markdown">- <strong>Bold</strong></h1>
    This text is <strong class="accent">strong</strong>.

    <h1 class="markdown">- <strong>Italic</strong></h1>
    This text is <em class="accent">em</em>.

    <h1 class="markdown">- <strong>Del</strong></h1>
    This text is <del class="accent">del</del>.
    <br>
    This text is <strike class="accent">strike</strike>.

    <h1 class="markdown">- <strong>Sup</strong></h1>
    This text is <sup class="accent">sup</sup>.

    <h1 class="markdown">- <strong>Sub</strong></h1>
    This text is <sub class="accent">sub</sub>.

    <h1 class="markdown">- <strong>Small</strong></h1>
    This text is <small class="accent">small</small>.

    <h1 class="markdown">- <strong>Code</strong></h1>
    <code>This text is <span class="accent">code</span></code>

    <pre>This text is <span class="accent">pre</span></pre>

    <pre><code>This text is <span class="accent">pre, code</span></code></pre>

    <h1 class="markdown">- <strong>Blockquote</strong></h1>
    <blockquote>This text is <span class="accent">Blockquote</span></blockquote>

    <h1 class="markdown">- <strong>Links</strong></h1>
    <a href="https://profile.intra.42.fr" target="_blank"><span class="accent">42 intra</span></a>

    <h1 class="markdown">- <strong>Orderen Lists</strong></h1>
    <ol>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
        <li>Fourth item</li>
    </ol>

    <h1 class="markdown">- <strong>Unorderen Lists</strong></h1>
    <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
        <li>Fourth item</li>
    </ul>

    <h1 class="markdown">- <strong>Table</strong></h1>
    <table border="1">
        <th><span class="accent">Table Header</span></th>
        <tr>
            <td>
                <span class="accent">Table Body</span>
            </td>
        </tr>
    </table>

    <h1 class="markdown">- <strong>Image</strong></h1>
    <img src="http://i.imgur.com/pfp3T.jpg" style="width: 40%;"/>

    <h1 class="markdown">- <strong>Video</strong></h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>