<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #424242
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <th>Number</th>
            <th>Crawl</th>
            <th>Director</th>
            <th>Producer</th>
            <th>Release Date</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td>{{ movie.title }}</td>
            <td>{{ movie.episode__nb }}</td>
            <td>{{ movie.opening_crawl }}</td>
            <td>{{ movie.director }}</td>
            <td>{{ movie.producer }}</td>
            <td>{{ movie.release_data }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>